<h2>Select form type to view</h2>
<p>Inspect the forms with your browser's dev tools or see <a href="https://github.com/steveryan/react-rails_form_test">the github repo<a> to better understand the different implementations</p> 

<%= link_to 'New Rails Post', new_rails_post_path %>
<br>
<%= link_to 'New React Post', new_react_post_path %>
<br>
<%= link_to 'New Hybrid Post', new_hybrid_post_path %>
